@model BusinessObject.OrderDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Orders" asp-action="Details" asp-route-id="@Model?.OrderId">
                @Html.DisplayFor(model => model.Order.OrderId)
            </a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class="col-sm-10">
        @if (int.Equals(Context.Session.GetInt32("MemberId"), 0)) {
            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model?.ProductId">
                @Html.DisplayFor(model => model.Product.ProductName)
            </a>
        }
        else {
            @Html.DisplayFor(model => model.Product.ProductName)
        }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
    </dl>
</div>
<div>
@if (int.Equals(Context.Session.GetInt32("MemberId"), 0)) {
    <text>
        <a asp-action="Edit" asp-route-orderId="@Model?.OrderId" asp-route-productId="@Model?.ProductId">Edit</a> |
    </text>
}
    <a asp-action="Index" asp-route-orderId="@Model?.OrderId">Back to List</a>
</div>
